<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../public/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
	<div class="container">
		<h1>留言板</h1>
		<hr/>
		<ul class="list-group">
			{{each comments}}<li class="list-group-item">{{$value.name}}:{{$value.message}}<span class="pull-right">{{$value.time}}</span></li>{{/each}}
		</ul>
		<div><a href="/post" class="btn btn-primary">去留言</a></div>
	</div>
		
</body>
</html>